@import 'tailwindcss';

:root {
    --color-amber-100: oklch(0.967 0.003 264.542);
    --color-cyan: #29bbdf;
    --color-cyan-dark: #008aac;
    --color-blue-50: #cdf5ff;
    --color-blue-300: #b6e9f6;
    --color-blue-400: #dff9ff;
    --color-dark-brown: #1e1e1e;
    --color-dark-100: #070a29;
    --color-new-gey: #a1a1a5;
    --color-gray-200: #8a8b8e;
    --color-gray-300: #f6f6f8;
    --color-gray-400: #f0f0f3;
    --color-new-white: #ffffff;
    --color-light-red: #f0101b;
    --color-red-200: #ff244c;
    --color-light-gey: #cfcedb;
    --color-overlay: #01020e66;
    --color-yellow-100: #ffde24;
}

[data-theme='dark'] {
    --acme-canvas-color: oklch(0.21 0.034 264.665);
}

@theme inline {
    --color-canvas: var(--acme-canvas-color);
    --color-blue-50: var(--color-blue-50);
    --color-blue-100: var(--color-cyan);
    --color-blue-200: var(--color-cyan-dark);
    --color-blue-300: var(--color-blue-300);
    --color-blue-400: var(--color-blue-400);
    --color-brown-100: var(--color-dark-brown);
    --color-white-300: var(--color-new-gey);
    --color-white-200: var(--color-light-gey);
    --color-white-100: var(--color-new-white);
    --color-red-100: var(--color-light-red);
    --color-red-200: var(--color-red-200);
    --color-gray-200: var(--color-gray-200);
    --color-gray-300: var(--color-gray-300);
    --color-gray-400: var(--color-gray-400);
    --color-dark-50: var(--color-overlay);
    --color-dark-100: var(--color-dark-100);
    --color-yellow-100: var(--color-yellow-100);

    /* Font theme variables */
    --font-unbounded: var(--font-unbounded);
    --font-poppins: var(--font-poppins);
    --font-mont: var(--font-mont);
    --shadow-header: 0px 2px 11.7px -2px #00000026;
    --shadow-dropdown: 4px 4px 13.1px 0px #00000040;
    --breakpoint-xs: 30rem;
    --breakpoint-lg: 64.0625rem;
    --breakpoint-slg: 63.75rem;
    --breakpoint-llg: 68.75rem;
}
